{% extends "base.html.twig" %}

{% block title %}Bienvenue sur notre agence de voyage{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <h2> Voyage 1 </h2>
        </div>
        <div class="row">
            {% for step in steps %}
                <div class="card-deck p-3">
                    <div class="card" >
                        <div class="card-header">
                            {{ step.departure }} -> {{ step.arrival }}
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ step.type }}</h3>
                            {% if step.seat %}
                                <p class="card-text">Seat : {{ step.seat }}</p>
                            {% endif %}
                            {% if step.gate is defined and step.gate %}
                                <p class="card-text">Gate : {{ step.gate }}</p>
                            {% endif %}

                            {% if step.baggageDrop is defined and step.baggageDrop %}
                                <p class="card-text">Baggage Drop : {{ step.baggageDrop }}</p>
                            {% endif %}
                        </div>
                        <div class="card-footer">Number : {{ step.number }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}