{% extends "base.html.twig" %}

{% block title %}Bienvenue sur notre agence de voyage{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <h2> Version affichage total avec etape en erreur distingué </h2>
        </div>
        <div class="row">
            {% for step in stepsTotal %}
                {% set nextStepExist = nextStepExist(step.arrival.id, step.trip.id) %}
                {% set bgCard = (nextStepExist is same as (0) and loop.last is same as (false) ) ? 'text-white bg-danger' : '' %}
                <div class="card-deck p-3">
                    <div class="card {{ bgCard }}" >
                        <div class="card-header">
                            {{ step.departure.name }} -> {{ step.arrival.name }}
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ step.transport }}</h5>
                            {% if step.transport.seat %}
                                <p class="card-text">Seat : {{ step.transport.seat }}</p>
                            {% endif %}
                            {% if step.transport.gate is defined and step.transport.gate %}
                                <p class="card-text">Gate : {{ step.transport.gate }}</p>
                            {% endif %}

                            {% if step.transport.baggageDrop is defined and step.transport.baggageDrop %}
                                <p class="card-text">Baggage Drop : {{ step.transport.baggageDrop }}</p>
                            {% endif %}
                        </div>
                        <div class="card-footer">Number : {{ step.number }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row justify-content-center">
            <h2> Version affichage sans l'etape en erreur </h2>
        </div>
        <div class="row">
            {% for step in stepsPossible %}
                <div class="card-deck p-3">
                    <div class="card" >
                        <div class="card-header">
                            {{ step.departure.name }} -> {{ step.arrival.name }}
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ step.transport }}</h5>
                            {% if step.transport.seat %}
                                <p class="card-text">Seat : {{ step.transport.seat }}</p>
                            {% endif %}
                            {% if step.transport.gate is defined and step.transport.gate %}
                                <p class="card-text">Gate : {{ step.transport.gate }}</p>
                            {% endif %}

                            {% if step.transport.baggageDrop is defined and step.transport.baggageDrop %}
                                <p class="card-text">Baggage Drop : {{ step.transport.baggageDrop }}</p>
                            {% endif %}
                        </div>
                        <div class="card-footer">Number : {{ step.number }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}